-- ============================================================================
-- Synthetic Recipe Data Generation Script
-- Cycle 4 Week 0 - Staging Environment Data Seeding
-- Created: 2025-06-14T11:45:00Z | Event g124
-- ============================================================================

-- This script generates 600 synthetic recipes with realistic ingredients,
-- instructions, and metadata for staging environment testing

-- ============================================================================
-- HELPER FUNCTIONS FOR RECIPE DATA GENERATION
-- ============================================================================

-- Function to generate random recipe names
CREATE OR REPLACE FUNCTION random_recipe_name() RETURNS TEXT AS $$
DECLARE
  adjectives TEXT[] := ARRAY[
    'Classic', 'Homestyle', 'Crispy', 'Tender', 'Spicy', 'Mild', 'Savory', 'Sweet',
    'Tangy', 'Rich', 'Light', 'Hearty', 'Fresh', 'Zesty', 'Creamy', 'Crunchy',
    'Smoky', 'Grilled', 'Roasted', 'Baked', 'Pan-Seared', 'Slow-Cooked', 'Quick',
    'Easy', 'Gourmet', 'Traditional', 'Modern', 'Fusion', 'Mediterranean', 'Asian',
    'Mexican', 'Italian', 'French', 'Indian', 'Thai', 'Chinese', 'Japanese'
  ];
  
  proteins TEXT[] := ARRAY[
    'Chicken', 'Beef', 'Pork', 'Salmon', 'Tuna', 'Shrimp', 'Turkey', 'Duck',
    'Lamb', 'Cod', 'Halibut', 'Tofu', 'Tempeh', 'Lentil', 'Bean', 'Chickpea'
  ];
  
  dishes TEXT[] := ARRAY[
    'Stir Fry', 'Curry', 'Soup', 'Salad', 'Pasta', 'Rice Bowl', 'Sandwich',
    'Burger', 'Pizza', 'Tacos', 'Casserole', 'Stew', 'Risotto', 'Noodles',
    'Wrap', 'Bowl', 'Skillet', 'Bake', 'Roast', 'Grill', 'Sauté', 'Braise'
  ];
  
  vegetables TEXT[] := ARRAY[
    'Broccoli', 'Mushroom', 'Spinach', 'Kale', 'Carrot', 'Bell Pepper',
    'Zucchini', 'Eggplant', 'Cauliflower', 'Brussels Sprouts', 'Asparagus'
  ];
  
  adj TEXT;
  protein TEXT;
  dish TEXT;
  vegetable TEXT;
BEGIN
  adj := adjectives[floor(random() * array_length(adjectives, 1) + 1)];
  
  -- 70% chance of including protein
  IF random() < 0.7 THEN
    protein := proteins[floor(random() * array_length(proteins, 1) + 1)];
  END IF;
  
  dish := dishes[floor(random() * array_length(dishes, 1) + 1)];
  
  -- 40% chance of including vegetable
  IF random() < 0.4 THEN
    vegetable := vegetables[floor(random() * array_length(vegetables, 1) + 1)];
  END IF;
  
  -- Construct recipe name
  IF protein IS NOT NULL AND vegetable IS NOT NULL THEN
    RETURN adj || ' ' || protein || ' and ' || vegetable || ' ' || dish;
  ELSIF protein IS NOT NULL THEN
    RETURN adj || ' ' || protein || ' ' || dish;
  ELSIF vegetable IS NOT NULL THEN
    RETURN adj || ' ' || vegetable || ' ' || dish;
  ELSE
    RETURN adj || ' ' || dish;
  END IF;
END;
$$ LANGUAGE plpgsql;

-- Function to generate random ingredients JSONB
CREATE OR REPLACE FUNCTION random_ingredients() RETURNS JSONB AS $$
DECLARE
  base_ingredients TEXT[] := ARRAY[
    'chicken breast', 'ground beef', 'salmon fillet', 'pork tenderloin', 'turkey breast',
    'shrimp', 'tofu', 'eggs', 'olive oil', 'butter', 'onion', 'garlic', 'ginger',
    'bell pepper', 'carrot', 'celery', 'broccoli', 'spinach', 'mushrooms', 'tomato',
    'potato', 'sweet potato', 'rice', 'pasta', 'quinoa', 'flour', 'sugar', 'salt',
    'black pepper', 'paprika', 'cumin', 'oregano', 'basil', 'thyme', 'rosemary',
    'soy sauce', 'lemon juice', 'lime juice', 'vinegar', 'coconut milk', 'broth',
    'cheese', 'yogurt', 'milk', 'cream', 'beans', 'lentils', 'chickpeas'
  ];
  
  units TEXT[] := ARRAY['g', 'kg', 'ml', 'l', 'cup', 'tbsp', 'tsp', 'piece', 'clove', 'slice'];
  
  ingredients JSONB := '[]'::JSONB;
  num_ingredients INTEGER;
  i INTEGER;
  ingredient_name TEXT;
  quantity NUMERIC;
  unit TEXT;
  ingredient_obj JSONB;
BEGIN
  -- Generate 5-15 ingredients per recipe
  num_ingredients := floor(random() * 11 + 5);
  
  FOR i IN 1..num_ingredients LOOP
    ingredient_name := base_ingredients[floor(random() * array_length(base_ingredients, 1) + 1)];
    
    -- Generate realistic quantities based on ingredient type
    CASE 
      WHEN ingredient_name IN ('salt', 'black pepper', 'paprika', 'cumin', 'oregano', 'basil', 'thyme', 'rosemary') THEN
        quantity := round((random() * 2 + 0.5)::numeric, 1);
        unit := CASE WHEN random() < 0.5 THEN 'tsp' ELSE 'tbsp' END;
      WHEN ingredient_name IN ('garlic', 'ginger') THEN
        quantity := floor(random() * 4 + 1);
        unit := 'clove';
      WHEN ingredient_name IN ('onion', 'bell pepper', 'carrot', 'potato', 'sweet potato') THEN
        quantity := floor(random() * 3 + 1);
        unit := 'piece';
      WHEN ingredient_name IN ('chicken breast', 'ground beef', 'salmon fillet', 'pork tenderloin', 'turkey breast') THEN
        quantity := round((random() * 800 + 200)::numeric, 0);
        unit := 'g';
      WHEN ingredient_name IN ('rice', 'pasta', 'quinoa', 'flour', 'sugar') THEN
        quantity := round((random() * 400 + 100)::numeric, 0);
        unit := 'g';
      WHEN ingredient_name IN ('olive oil', 'soy sauce', 'lemon juice', 'lime juice', 'vinegar') THEN
        quantity := round((random() * 50 + 10)::numeric, 0);
        unit := 'ml';
      WHEN ingredient_name IN ('milk', 'cream', 'broth', 'coconut milk') THEN
        quantity := round((random() * 500 + 100)::numeric, 0);
        unit := 'ml';
      ELSE
        quantity := round((random() * 300 + 50)::numeric, 0);
        unit := 'g';
    END CASE;
    
    ingredient_obj := jsonb_build_object(
      'name', ingredient_name,
      'quantity', quantity,
      'unit', unit
    );
    
    ingredients := ingredients || ingredient_obj;
  END LOOP;
  
  RETURN ingredients;
END;
$$ LANGUAGE plpgsql;

-- Function to generate random cooking instructions
CREATE OR REPLACE FUNCTION random_instructions() RETURNS TEXT[] AS $$
DECLARE
  prep_steps TEXT[] := ARRAY[
    'Preheat oven to 375°F (190°C).',
    'Heat oil in a large skillet over medium-high heat.',
    'Prepare all ingredients by washing, chopping, and measuring.',
    'Season protein with salt and pepper.',
    'Marinate protein for 15-30 minutes if time allows.'
  ];
  
  cooking_steps TEXT[] := ARRAY[
    'Cook protein until golden brown and cooked through, about 6-8 minutes per side.',
    'Add vegetables and sauté until tender, about 5-7 minutes.',
    'Add aromatics (garlic, ginger, onions) and cook until fragrant, about 1 minute.',
    'Pour in liquid ingredients and bring to a simmer.',
    'Reduce heat and let simmer for 15-20 minutes.',
    'Add seasonings and adjust to taste.',
    'Stir in fresh herbs just before serving.',
    'Cook pasta according to package directions until al dente.',
    'Drain and reserve some pasta water for sauce.',
    'Combine all ingredients in a large bowl and toss well.'
  ];
  
  finishing_steps TEXT[] := ARRAY[
    'Remove from heat and let rest for 5 minutes before serving.',
    'Garnish with fresh herbs and serve immediately.',
    'Serve hot with your favorite side dishes.',
    'Adjust seasoning with salt and pepper to taste.',
    'Serve over rice, pasta, or with crusty bread.'
  ];
  
  instructions TEXT[] := ARRAY[]::TEXT[];
  num_steps INTEGER;
  i INTEGER;
BEGIN
  -- Generate 4-8 instruction steps
  num_steps := floor(random() * 5 + 4);
  
  -- Always start with a prep step
  instructions := array_append(instructions, prep_steps[floor(random() * array_length(prep_steps, 1) + 1)]);
  
  -- Add cooking steps
  FOR i IN 2..(num_steps-1) LOOP
    instructions := array_append(instructions, cooking_steps[floor(random() * array_length(cooking_steps, 1) + 1)]);
  END LOOP;
  
  -- Always end with a finishing step
  instructions := array_append(instructions, finishing_steps[floor(random() * array_length(finishing_steps, 1) + 1)]);
  
  RETURN instructions;
END;
$$ LANGUAGE plpgsql;

-- Function to generate random dietary tags
CREATE OR REPLACE FUNCTION random_dietary_tags() RETURNS dietary_type[] AS $$
DECLARE
  all_tags dietary_type[] := ARRAY['vegetarian', 'vegan', 'gluten_free', 'dairy_free', 'keto', 'paleo', 'low_carb', 'low_fat', 'halal', 'kosher'];
  result dietary_type[] := ARRAY[]::dietary_type[];
  num_tags INTEGER;
  i INTEGER;
BEGIN
  -- 60% chance of having no special dietary tags
  IF random() < 0.6 THEN
    RETURN result;
  END IF;
  
  -- Otherwise, select 1-2 random tags
  num_tags := floor(random() * 2 + 1);
  
  FOR i IN 1..num_tags LOOP
    result := array_append(result, all_tags[floor(random() * array_length(all_tags, 1) + 1)]);
  END LOOP;
  
  -- Remove duplicates
  SELECT array_agg(DISTINCT unnest) INTO result FROM unnest(result);
  
  RETURN result;
END;
$$ LANGUAGE plpgsql;

-- ============================================================================
-- SYNTHETIC RECIPE DATA GENERATION
-- ============================================================================

-- Generate 600 synthetic recipes
DO $$
DECLARE
  i INTEGER;
  recipe_name TEXT;
  recipe_description TEXT;
  ingredients_json JSONB;
  instructions_array TEXT[];
  prep_time_mins INTEGER;
  cook_time_mins INTEGER;
  servings_count INTEGER;
  difficulty_level difficulty_type;
  dietary_tags dietary_type[];
  cuisine_type cuisine_type;
  meal_type meal_type;
  created_date TIMESTAMPTZ;
  author_user_id UUID;
  is_public_bool BOOLEAN;
  
  -- Cuisine types for variety
  cuisines cuisine_type[] := ARRAY['american', 'italian', 'mexican', 'chinese', 'indian', 'thai', 'french', 'mediterranean', 'japanese', 'korean'];
  
  -- Meal types
  meals meal_type[] := ARRAY['breakfast', 'lunch', 'dinner', 'snack', 'dessert', 'appetizer'];
  
  -- Difficulty levels
  difficulties difficulty_type[] := ARRAY['easy', 'medium', 'hard'];
  
  -- Sample descriptions
  descriptions TEXT[] := ARRAY[
    'A delicious and easy-to-make dish perfect for weeknight dinners.',
    'This flavorful recipe combines fresh ingredients with aromatic spices.',
    'A healthy and nutritious meal that the whole family will love.',
    'Quick and simple preparation with restaurant-quality results.',
    'Traditional recipe with a modern twist for contemporary tastes.',
    'Comfort food at its finest - warm, satisfying, and delicious.',
    'Light and refreshing dish perfect for any season.',
    'Bold flavors and vibrant colors make this dish a showstopper.',
    'Simple ingredients come together to create something extraordinary.',
    'A crowd-pleasing recipe that never fails to impress.'
  ];
BEGIN
  FOR i IN 1..600 LOOP
    -- Generate basic recipe info
    recipe_name := random_recipe_name();
    recipe_description := descriptions[floor(random() * array_length(descriptions, 1) + 1)];
    ingredients_json := random_ingredients();
    instructions_array := random_instructions();
    
    -- Generate timing and serving info
    prep_time_mins := floor(random() * 45 + 5);  -- 5-50 minutes
    cook_time_mins := floor(random() * 120 + 10); -- 10-130 minutes
    servings_count := floor(random() * 8 + 2);    -- 2-10 servings
    
    -- Assign difficulty based on cook time and complexity
    CASE 
      WHEN cook_time_mins < 30 AND array_length(instructions_array, 1) <= 5 THEN 
        difficulty_level := 'easy';
      WHEN cook_time_mins > 90 OR array_length(instructions_array, 1) > 7 THEN 
        difficulty_level := 'hard';
      ELSE 
        difficulty_level := 'medium';
    END CASE;
    
    -- Assign random cuisine and meal type
    cuisine_type := cuisines[floor(random() * array_length(cuisines, 1) + 1)];
    meal_type := meals[floor(random() * array_length(meals, 1) + 1)];
    
    -- Generate dietary tags
    dietary_tags := random_dietary_tags();
    
    -- Random creation date (last 6 months)
    created_date := NOW() - (random() * INTERVAL '180 days');
    
    -- Assign to random user (assuming users exist with IDs 1-500)
    SELECT id INTO author_user_id FROM users ORDER BY random() LIMIT 1;
    
    -- 90% of recipes are public
    is_public_bool := random() < 0.9;
    
    -- Insert recipe
    
    -- Progress indicator every 100 recipes
    IF i % 100 = 0 THEN
      RAISE NOTICE 'Generated % recipes...', i;
    END IF;
  END LOOP;
  
  RAISE NOTICE 'Successfully generated 600 synthetic recipes!';
END;
$$;

-- ============================================================================
-- CLEANUP HELPER FUNCTIONS
-- ============================================================================

-- Drop the helper functions after use to keep database clean
DROP FUNCTION IF EXISTS random_recipe_name();
DROP FUNCTION IF EXISTS random_ingredients();
DROP FUNCTION IF EXISTS random_instructions();
DROP FUNCTION IF EXISTS random_dietary_tags();

-- ============================================================================
-- VERIFICATION QUERIES
-- ============================================================================

-- Verify recipe generation
SELECT 
  COUNT(*) as total_recipes,
  COUNT(DISTINCT author_id) as unique_authors,
  AVG(prep_time_minutes) as avg_prep_time,
  AVG(cook_time_minutes) as avg_cook_time,
  AVG(servings) as avg_servings
FROM recipes;

-- Check dietary tag distribution
SELECT 
  unnest(dietary_tags) as dietary_tag,
  COUNT(*) as recipe_count
FROM recipes 
WHERE dietary_tags IS NOT NULL AND array_length(dietary_tags, 1) > 0
GROUP BY unnest(dietary_tags)
ORDER BY recipe_count DESC;

-- Check cuisine distribution
SELECT 
  cuisine_type,
  COUNT(*) as recipe_count
FROM recipes
GROUP BY cuisine_type
ORDER BY recipe_count DESC;

-- Check difficulty distribution
SELECT 
  difficulty,
  COUNT(*) as recipe_count,
  AVG(cook_time_minutes) as avg_cook_time
FROM recipes
GROUP BY difficulty
ORDER BY recipe_count DESC;

-- Final completion notice
DO $$
BEGIN
  RAISE NOTICE 'Synthetic recipe data generation completed successfully!';
  RAISE NOTICE 'Generated 600 recipes with realistic ingredients, instructions, and metadata.';
  RAISE NOTICE 'Recipes are distributed across various cuisines, meal types, and difficulty levels.';
END;
$$;
